<!DOCTYPE HTML>
<html>
<head>

  <link rel="stylesheet" href="/stylesheets/error-min.css">

  <!-- <link rel= "stylesheet" href="/stylesheets/handheld.css"  media="only screen and (max-width: 480px)">-->
  <title>404 Ошибка</title>

  <meta charset="utf-8">
  <link rel="alternate" href="https://gerasymiuk.herokuapp.com" hreflang="x-default" />
  <!--<link rel="alternate" href="https://gerasymiuk.herokuapp.com/en" hreflang="en" />-->

</head>
<body>
<section>
  <h1>404</h1>
  <h2>Здесь пусто</h2>
  <a href="/">Перейти на главную страницу</a>
</section>
</body>
</html>
