<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style-min.css" media="screen" />
    <style>
        #p_prldr{position:fixed;left:0;top:0;right:0;bottom:0;background:#fff;z-index:30}.contpre small{font-size:25px}.contpre{width:250px;height:100px;position:absolute;left:50%;top:48%;margin-left:-125px;margin-top:-75px;color:#696969;font-size:40px;letter-spacing:-2px;text-align:center;line-height:35px}#p_prldr .svg_anm{position:absolute;width:60px;height:60px;background:url(/img/spinner.gif) center center no-repeat;background-size:60px;margin:-30px 0 0 -30px}
    </style>
    <title>Портфолио</title>

    <meta name="keywords" content="Java, Junior, developer, portfolio, student, Харьков, Герасимюк, Дмитрий, full-stack">
    <meta content="Сайт портфолио разработчика Java веб-сайтов. Я, Герасимюк Дмитрий, занимаюсь разработкой приложений на Java порядка 3-х лет, проживаю в городе Харьков" property="og:description">
    <meta content="Сайт портфолио разработчика Java веб-сайтов" property="og:title">
    <meta property="og:image" content="http://gerasymiuk.herokuapp.com/img/link_photo.jpg">
    <meta property="og:image:secure_url" content="https://gerasymiuk.herokuapp.com/img/link_photo.jpg">
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />
    <meta content="website" property="og:type">
    <meta content="//gerasymiuk.herokuapp.com/" property="og:url">


    <meta charset="utf-8">
    <meta name="description" content="Сайт портфолио разработчика Java веб-сайтов. я, Герасимюк Дмитрий, занимаюсь разработкой Java порядка 3- лет, проживаю в городе Харьков" />

    <link rel="alternate" href="https://gerasymiuk.herokuapp.com" hreflang="x-default" />
    <!--<link rel="alternate" href="https://gerasymiuk.herokuapp.com/en" hreflang="en" />-->

</head>
<body>
<div id="p_prldr"><div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>идет загрузка</small></div></div>

<div id="menu" class="default">
        <ul>
			<li><a href="#" onclick="showBlock('home');" id="home-button" class="selected">
			<img src="img/homebtn.png" />
			</a></li>  
            <li><a href="#" onclick="showBlock('resume');" id="resume-button">
			<img src="img/resumebtn.png" />
			</a></li>            
            <li><a href="#" onclick="showBlock('contacts');" id="contacts-button" >
			<img src="img/contactsbtn.png" />
			</a></li>
        </ul>
    </div>
	
<section itemscope itemtype="http://schema.org/Person" class="context">

<div class="home-block">
<h2>
<span class="head-block" >
Добро пожаловать
</span>
</h2>
<div class="content">
    <img itemprop="image" class="my_photo" src="/img/photo.png" alt="Фотография Герасимюка Дмитрия"/><br>
    Меня зовут <strong itemprop="familyName">Герасимюк</strong> <strong itemprop="givenName">Дмитрий</strong>, <br>
мне 22 и я начинающий веб-программист.<br>
<strong>Учусь</strong> в <em><q>Харьковском Национальном Экономическом университете</q></em><br>
на факультете <em><q>Экономической информатики</q></em>,
по специальности <em><q>Информационные управляющие системы и технологии</q></em>, <strong>2 курс магистратуры</strong>.<br>
    Живу в <strong>Харькове</strong>. Разработкой сайтов занимаюсь порядка 3-х лет.<br>
Перепробывал различные языки и остановился на <strong>java</strong>.<br>
Комерческого опыта нету, но много писал для себя.<br>
Для детального рассмотрения резюме перейдите <a href="#" onclick="showBlock('resume');" >сюда</a>
</div>
</div>

<div class="resume-block">
<h2>
<span class="head-block" >
Резюме
</span>
</h2>
    <div class="content">
    <h2>
        Немного о себе
    </h2>
        Владение языками и технологиями: Java<br>
        Знание языков и технологий: C#, HTTP, Sockets, SMTP, SQL, JDBC, Hibernate, Spring Framework<br>
        Опыт работы с платформaми j2ee. Небольшой опыт работы с платформой android.<br>
        Опыт работы с системами контроля версий Git<br>
        Опыт работы в средах разработки: Intellij IDEA, MS Visual Studio, NetBeans, Eclipse, Android studio<br>
    <h2>
        Высшее образование
    </h2>
        Харьковский национальный экономический университет им. С. Кузнеца<br>
        факультет <strong>экономической информатики</strong> - 2012-2018 гг.
    <h2>
        Знание языков
    </h2>
        <strong>Русский</strong> - родной<br>
        <strong>Английский</strong> - уровень B1
    <h2>
        Мои проекты
    </h2>
        <a href="https://github.com/dgerasymiuk">Git репозиторий</a>
    <h2>
        Библиография
    </h2>
        <div class="bibliographi">
            <img src="img/hortsman_tom1.png">
            <a href="https://www.ozon.ru/context/detail/id/137377512/">Java. Библиотека профессионала Том 1</a>
        </div>
        <div class="bibliographi">
            <img src="img/hortsman_tom2.png">
            <a href="https://www.ozon.ru/context/detail/id/25151190/">Java. Библиотека профессионала Том 2</a>
        </div>
        <div class="bibliographi">
            <img src="img/jcip.png">
            <a href="https://www.amazon.com/Java-Concurrency-Practice-Brian-Goetz/dp/0321349601">Java Concurrency in Practice</a>
        </div>

        <div class="bibliographi">
            <img src="img/effective-java.png">
            <a href="https://www.amazon.com/Effective-Java-2nd-Joshua-Bloch/dp/0321356683/ref=sr_1_5?s=books&ie=UTF8&qid=1507374599&sr=1-5&keywords=Java+Concurrency+in+Practice">
                Effective Java (2nd Edition)</a>
        </div>
        <div class="bibliographi">
            <img src="img/data-structure.png">
            <a href="https://www.amazon.com/Data-Structures-Algorithms-Java-2nd/dp/0672324539/ref=sr_1_1?s=books&ie=UTF8&qid=1507374735&sr=1-1&keywords=data+structures+and+algorithms+in+java%2C+2nd+edition+by+robert+lafore">
                Data Structures and Algorithms in Java (2nd Edition)</a>
        </div>
        <div class="bibliographi">
            <img src="img/design-pattern.png">
            <a href="https://www.amazon.com/Head-First-Design-Patterns-Brain-Friendly/dp/0596007124/ref=sr_1_1?s=books&ie=UTF8&qid=1507374916&sr=1-1&keywords=design+patterns+java">
                Head First Design Patterns: A Brain-Friendly Guide</a>
        </div>
    </div>

</div>


    <div class="contacts-block">
<h2>
<span class="head-block" >
Контакты
</span>
</h2>
<div>
            <div class="contact_box">
                <h3>Адрес:</h3>
                <p itemprop="homeLocation">Украина, г. Харьков</p>
            </div>
            <div class="contact_box">
                <h3>Email:</h3>
                <p itemprop="email">gerasymiuk@gmail.com</p>
            </div>
            <div class="contact_box">
                <h3>Контактный телефон:</h3>
                <p itemprop="telephone">+38(066) 523-20-33</p>
            </div>
            <div class="contact_box">
                    <h3>ВКонтакте:</h3>
                    <p><a href="http://vk.com/d.gerasimuk" target="_blank">vk.com/d.gerasimuk</a></p>
            </div>
            <div class="contact_box">
                <h3>Веб-сайт:</h3>
                <p ><a itemprop="address" href="https://gerasymiuk.herokuapp.com/" >gerasymiuk.herokuapp.com</a></p>
            </div>
            <div class="contact_box">
                <h3>Skype:</h3>
                <p>d.gerasymiuk@gmail.com</p>
            </div>
</div>
</div>
    <footer>2016-2017 © Developed by Gerasymiuk</footer>

</section>
<div class="background-left"></div>
<div class="background-right"></div>
<script src="/js/jquery-1.10.2-min.js"></script>
<script>
function showBlock(a){$(".selected").removeClass("selected");$("#"+a+"-button").addClass("selected");hideAll();$("."+a+"-block").fadeIn(1000)}function hideAll(){$(".home-block").css("display","none");$(".resume-block").css("display","none");$(".contacts-block").css("display","none")}var $preloader=$("#p_prldr"),$svg_anm=$preloader.find(".svg_anm");$svg_anm.fadeOut();$preloader.delay(300).fadeOut("slow");$(document).ready(function(){var a=$("#menu");$(window).scroll(function(){if($(this).scrollTop()>100&&a.hasClass("default")){a.removeClass("default").addClass("fixed")}else{if($(this).scrollTop()<=100&&a.hasClass("fixed")){a.removeClass("fixed").addClass("default")}}});$(window).resize(b);b();function b(){var c=$(document).height();$(".context").height(c-70)}});
</script>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107856623-1"></script>
<script>  window.dataLayer = window.dataLayer || [];  function gtag(){dataLayer.push(arguments);}  gtag('js', new Date());  gtag('config', 'UA-107856623-1');
</script>

</body>
</html>
